:root {
    --background-color: rgb(24,24,24);

    --keyboard-button-color: rgb(220,220,220);
    --keyboard-button-color-hovered: rgb(210,210,210);
    --keyboard-button-color-green: rgb(20,170,20);
    --keyboard-button-color-yellow: rgb(232, 252, 58);
    --keyboard-button-color-gray: rgb(128, 128, 128);
    --keyboard-text-color: rgb(24,24,24);

    --letterbox-border-color: rgb(180,180,180);
    --letterbox-letter-color: rgb(255,255,255);
    --letterbox-color-green: rgb(20,170,20);
    --letterbox-color-yellow: rgb(232, 252, 58);
    --letterbox-color-gray: rgb(128, 128, 128);
}