*{
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
}

body{
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    height: 100%;
}

.keyboard-container{
    flex-shrink: 0;
    margin-bottom: 10px;
}

.letterbox-container{
    margin-top: 30px;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
}